<!DOCTYPE html>
<html>
  <head>
    <title>SecondApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <!-- NAVBAR -->
	<%= render partial: '/layouts/navbar'%>

	<!-- YIELD -->
	<div class="wrapper style2">
		<article id="main" class="container special">	
				<p>
					<%= yield %>
				</p>			
		</article>
	</div>

	<!-- FOOTER -->
	<%= render partial: '/layouts/footer'%>

  </body>
</html>
